#currentLink {
    color: #00bfa5;
}
.row, .divider, .section {
    padding-left: 100px;
}

#slideTitle {
    font-size: 23;
    font-weight: normal;
}
.side-nav {
    width: 225px;
}

.range-field {
    margin: 0;
}
#seasonSlider {
    width: 350;
}

#selectedVarLabel, #selectedSeasonLabel{
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

.d3-tip {
    line-height: 2;
    font-weight: bold;
    font-size: 15;
    padding-bottom: 40;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

.x.axis path, .y.axis path{
    display: none;
}